workflows/04-ops/56-sentry-enrichment.json
{
  "name": "56-sentry-enrichment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sentry-webhook",
        "options": {}
      },
      "name": "Sentry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "=Explain this error stack trace and suggest a fix:\n{{$node[\"Sentry\"].json[\"body\"][\"event\"][\"exception\"]}}"
      },
      "name": "AI Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "projectKey": "BUG",
        "summary": "Fix: {{$node[\"Sentry\"].json[\"body\"][\"message\"]}}",
        "description": "Analysis:\n{{$node[\"AI Analysis\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
        "issueType": "Bug"
      },
      "name": "Jira Issue",
      "type": "n8n-nodes-base.jiraSoftware",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Sentry": {
      "main": [
        [
          {
            "node": "AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis": {
      "main": [
        [
          {
            "node": "Jira Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
