workflows/04-ops/79-file-deduplicator.json
{
  "name": "79-file-deduplicator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [6]
            }
          ]
        }
      },
      "name": "Weekly",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "bucketName": "my-bucket",
        "returnAll": true,
        "operation": "getAll"
      },
      "name": "List Files",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const hashes = {};\nconst duplicates = [];\nitems.forEach(item => {\n  const hash = item.json.ETag;\n  if (hashes[hash]) {\n    duplicates.push(item);\n  } else {\n    hashes[hash] = true;\n  }\n});\nreturn duplicates;"
      },
      "name": "Find Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "bucketName": "my-bucket",
        "fileName": "={{$node[\"Find Duplicates\"].json[\"Key\"]}}",
        "operation": "delete"
      },
      "name": "Delete Duplicates",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Weekly": {
      "main": [
        [
          {
            "node": "List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Files": {
      "main": [
        [
          {
            "node": "Find Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Duplicates": {
      "main": [
        [
          {
            "node": "Delete Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
