workflows/04-ops/80-batch-image-processor.json
{
  "name": "80-batch-image-processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-images",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "bucketName": "uploads",
        "fileName": "={{$node[\"Webhook\"].json[\"body\"][\"filename\"]}}",
        "operation": "download"
      },
      "name": "Download S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "options": {
          "resize": true,
          "width": 800,
          "quality": 80
        }
      },
      "name": "Optimize Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "bucketName": "optimized",
        "fileName": "={{$node[\"Webhook\"].json[\"body\"][\"filename\"]}}",
        "binaryPropertyName": "data"
      },
      "name": "Upload Optimized",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Download S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download S3": {
      "main": [
        [
          {
            "node": "Optimize Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimize Image": {
      "main": [
        [
          {
            "node": "Upload Optimized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
