workflows/03-ai-swarm/15-customer-sentiment-analysis.json
{
  "name": "15-customer-sentiment-analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "=Analyze the sentiment of this feedback: {{$node[\"Webhook\"].json[\"body\"][\"text\"]}}. Return simply 'Positive', 'Negative', or 'Neutral'."
      },
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"OpenAI\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
              "value2": "Negative"
            }
          ]
        }
      },
      "name": "Is Negative",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "channel": "customer-feedback",
        "text": "=Negative Feedback: {{$node[\"Webhook\"].json[\"body\"][\"text\"]}}",
        "otherOptions": {}
      },
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Is Negative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Negative": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
