workflows/03-ai-swarm/29-churn-prediction.json
{
  "name": "29-churn-prediction",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "predict-churn",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://ml-api.internal/churn-model",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "features",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"user_features\"]}}"
            }
          ]
        }
      },
      "name": "ML Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"ML Model\"].json[\"risk_score\"]}}",
              "operation": "larger",
              "value2": 0.8
            }
          ]
        }
      },
      "name": "High Risk?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "channel": "churn-risk",
        "text": "=High Churn Risk User: {{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "otherOptions": {}
      },
      "name": "Alert CS",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "ML Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ML Model": {
      "main": [
        [
          {
            "node": "High Risk?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Risk?": {
      "main": [
        [
          {
            "node": "Alert CS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
