workflows/03-ai-swarm/67-video-script-gen.json
{
  "name": "67-video-script-gen",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gen-video-script",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "=Write a YouTube video script about: {{$node[\"Webhook\"].json[\"body\"][\"topic\"]}}\nStyle: Educational, Fun"
      },
      "name": "Gen Script",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "documentId": "VIDEO_SCRIPTS_DOC_ID",
        "content": "={{$node[\"Gen Script\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
        "options": {}
      },
      "name": "Save to Docs",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gen Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Script": {
      "main": [
        [
          {
            "node": "Save to Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
