workflows/03-ai-swarm/68-podcast-show-notes.json
{
  "name": "68-podcast-show-notes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-podcast",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "whisper-1",
        "binaryData": true,
        "inputPropertyName": "file"
      },
      "name": "Transcribe",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "=Generate podcast show notes, key takeaways, and timestamps from this transcript:\n{{$node[\"Transcribe\"].json[\"text\"]}}"
      },
      "name": "Summarize",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
