workflows/03-ai-swarm/69-influencer-outreach.json
{
  "name": "69-influencer-outreach",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "find-influencers",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/users/by/username/{{$node[\"Webhook\"].json[\"body\"][\"username\"]}}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer TWITTER_BEARER_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Get Profile\"].json[\"data\"][\"public_metrics\"][\"followers_count\"]}}",
              "operation": "larger",
              "value2": 10000
            }
          ]
        }
      },
      "name": "Is Micro Influencer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "INFLUENCER_SHEET_ID",
        "range": "A:E",
        "options": {}
      },
      "name": "Add to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profile": {
      "main": [
        [
          {
            "node": "Is Micro Influencer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Micro Influencer?": {
      "main": [
        [
          {
            "node": "Add to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
