workflows/03-ai-swarm/89-knowledge-base-search.json
{
  "name": "89-knowledge-base-search",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask-kb",
        "options": {}
      },
      "name": "Slack Command",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "text": "={{$node[\"Slack Command\"].json[\"body\"][\"text\"]}}"
      },
      "name": "Create Embedding",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "query",
        "indexName": "kb-index",
        "vector": "={{$node[\"Create Embedding\"].json[\"embedding\"]}}",
        "limit": 3
      },
      "name": "Pinecone Query",
      "type": "n8n-nodes-base.pinecone",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "=Answer this question based on the context:\nQuestion: {{$node[\"Slack Command\"].json[\"body\"][\"text\"]}}\nContext:\n{{$node[\"Pinecone Query\"].json.map(m => m.metadata.text).join(\"\\n\")}}"
      },
      "name": "Generate Answer",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$node[\"Generate Answer\"].json[\"choices\"][0][\"message\"][\"content\"]}}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Slack Command": {
      "main": [
        [
          {
            "node": "Create Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Embedding": {
      "main": [
        [
          {
            "node": "Pinecone Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Query": {
      "main": [
        [
          {
            "node": "Generate Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Answer": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
