workflows/02-integrations/21-image-generation.json
{
  "name": "21-image-generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-image",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "create",
        "prompt": "={{$node[\"Webhook\"].json[\"body\"][\"prompt\"]}}",
        "n": 1,
        "size": "1024x1024"
      },
      "name": "OpenAI DALL-E",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{$node[\"OpenAI DALL-E\"].json[\"data\"][0][\"url\"]}}",
        "responseFormat": "file"
      },
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "bucketName": "generated-images",
        "fileName": "={{$node[\"Webhook\"].json[\"body\"][\"prompt\"]}}.png"
      },
      "name": "Upload S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI DALL-E",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI DALL-E": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
