workflows/02-integrations/22-text-to-speech.json
{
  "name": "22-text-to-speech",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tts",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/text-to-speech/{{$env[\"ELEVENLABS_VOICE_ID\"]}}",
        "method": "POST",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "xi-api-key",
              "value": "{{$env[\"ELEVENLABS_API_KEY\"]}}"
            }
          ]
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "text",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"text\"]}}"
            }
          ]
        },
        "responseFormat": "file"
      },
      "name": "ElevenLabs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "bucketName": "audio-assets",
        "fileName": "audio-{{$today}}.mp3"
      },
      "name": "Save Audio",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs": {
      "main": [
        [
          {
            "node": "Save Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
