workflows/02-integrations/23-resume-parser.json
{
  "name": "23-resume-parser",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-resume",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "=Extract key skills and experience from this resume text:\n{{$node[\"Webhook\"].json[\"body\"][\"resume_text\"]}}"
      },
      "name": "Extract Info",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{$node[\"Webhook\"].json[\"body\"][\"candidate_id\"]}}",
        "updateFields": {
          "skills": "={{$node[\"Extract Info\"].json[\"choices\"][0][\"message\"][\"content\"]}}"
        }
      },
      "name": "Update ATS",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Info": {
      "main": [
        [
          {
            "node": "Update ATS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
