workflows/02-integrations/26-code-reviewer.json
{
  "name": "26-code-reviewer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review-code",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "=Review this code for bugs and security issues:\n{{$node[\"Webhook\"].json[\"body\"][\"code\"]}}"
      },
      "name": "OpenAI Review",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "code-reviews",
        "text": "=Code Review complete for PR #{{$node[\"Webhook\"].json[\"body\"][\"pr_number\"]}}:\n{{$node[\"OpenAI Review\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
        "otherOptions": {}
      },
      "name": "Slack Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Review": {
      "main": [
        [
          {
            "node": "Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
