workflows/02-integrations/43-shopify-order-update.json
{
  "name": "43-shopify-order-update",
  "nodes": [
    {
      "parameters": {
        "topic": "orders/create",
        "options": {}
      },
      "name": "Shopify Trigger",
      "type": "n8n-nodes-base.shopifyTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE inventory SET stock = stock - 1 WHERE sku = '{{$node[\"Shopify Trigger\"].json[\"line_items\"][0][\"sku\"]}}'"
      },
      "name": "Update DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "logistics",
        "text": "=New Order: #{{$node[\"Shopify Trigger\"].json[\"name\"]}} - {{$node[\"Shopify Trigger\"].json[\"total_price\"]}}",
        "otherOptions": {}
      },
      "name": "Notify Logistics",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Shopify Trigger": {
      "main": [
        [
          {
            "node": "Update DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB": {
      "main": [
        [
          {
            "node": "Notify Logistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
