workflows/02-integrations/46-zoom-meeting-creator.json
{
  "name": "46-zoom-meeting-creator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-meeting",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "topic": "={{$node[\"Webhook\"].json[\"body\"][\"title\"]}}",
        "startTime": "={{$node[\"Webhook\"].json[\"body\"][\"start_time\"]}}",
        "duration": 60
      },
      "name": "Create Zoom",
      "type": "n8n-nodes-base.zoom",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "calendar",
        "text": "=New Meeting Created: {{$node[\"Create Zoom\"].json[\"join_url\"]}}",
        "otherOptions": {}
      },
      "name": "Slack Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Zoom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Zoom": {
      "main": [
        [
          {
            "node": "Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
