workflows/02-integrations/62-seo-content-audit.json
{
  "name": "62-seo-content-audit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seo-audit",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$node[\"Webhook\"].json[\"body\"][\"url\"]}}"
      },
      "name": "Fetch Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "=Analyze this HTML for SEO (Title, H1, Meta Description, Keyword Density):\n{{$node[\"Fetch Page\"].json[\"data\"]}}"
      },
      "name": "Analyze SEO",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "channel": "seo-alerts",
        "text": "=SEO Audit Report for {{$node[\"Webhook\"].json[\"body\"][\"url\"]}}:\n{{$node[\"Analyze SEO\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
        "otherOptions": {}
      },
      "name": "Slack Report",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page": {
      "main": [
        [
          {
            "node": "Analyze SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze SEO": {
      "main": [
        [
          {
            "node": "Slack Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
