workflows/02-integrations/70-content-calendar-sync.json
{
  "name": "70-content-calendar-sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "name": "Hourly",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "query",
        "databaseId": "NOTION_DATABASE_ID",
        "filterType": "manual",
        "matchType": "all",
        "filters": {
          "conditions": [
            {
              "key": "Status",
              "type": "select",
              "value": "Scheduled",
              "operator": "equals"
            }
          ]
        }
      },
      "name": "Get Scheduled Posts",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{$node[\"Get Scheduled Posts\"].json[\"properties\"][\"Publish Date\"][\"date\"][\"start\"]}}",
        "end": "={{$node[\"Get Scheduled Posts\"].json[\"properties\"][\"Publish Date\"][\"date\"][\"start\"]}}",
        "summary": "={{$node[\"Get Scheduled Posts\"].json[\"properties\"][\"Title\"][\"title\"][0][\"text\"][\"content\"]}}",
        "options": {}
      },
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Hourly": {
      "main": [
        [
          {
            "node": "Get Scheduled Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scheduled Posts": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
