workflows/02-integrations/86-slack-to-notion.json
{
  "name": "86-slack-to-notion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-reaction",
        "options": {}
      },
      "name": "Reaction Added",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "NOTION_DB_ID",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{$node[\"Reaction Added\"].json[\"body\"][\"message\"][\"text\"]}}"
            },
            {
              "key": "Link|url",
              "url": "={{$node[\"Reaction Added\"].json[\"body\"][\"link\"]}}"
            }
          ]
        }
      },
      "name": "Create Notion Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "={{$node[\"Reaction Added\"].json[\"body\"][\"channel\"]}}",
        "text": "Saved to Notion!",
        "threadTs": "={{$node[\"Reaction Added\"].json[\"body\"][\"ts\"]}}",
        "otherOptions": {}
      },
      "name": "Confirm in Thread",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Reaction Added": {
      "main": [
        [
          {
            "node": "Create Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Page": {
      "main": [
        [
          {
            "node": "Confirm in Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
