workflows/01-core/04-deploy-notification.json
{
  "name": "04-deploy-notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deploy-success",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "content": "=Deployment Successful to {{$node[\"Webhook\"].json[\"body\"][\"environment\"]}}\nVer: {{$node[\"Webhook\"].json[\"body\"][\"version\"]}}"
      },
      "name": "Format Msg",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "webhookUri": "={{$env[\"DISCORD_WEBHOOK_URL\"]}}",
        "text": "={{$node[\"Format Msg\"].json[\"content\"]}}"
      },
      "name": "Discord Notify",
      "type": "n8n-nodes-base.discordWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Msg": {
      "main": [
        [
          {
            "node": "Discord Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
