workflows/01-core/08-new-user-onboarding.json
{
  "name": "08-new-user-onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-user",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "toEmail": "={{$node[\"Webhook\"].json[\"body\"][\"email\"]}}",
        "subject": "Welcome to Antigravity",
        "text": "Welcome {{$node[\"Webhook\"].json[\"body\"][\"name\"]}}! We are glad to have you."
      },
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "customer-success",
        "text": "=New Signup: {{$node[\"Webhook\"].json[\"body\"][\"email\"]}}",
        "otherOptions": {}
      },
      "name": "Notify CS",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [450, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify CS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
