workflows/06-business/18-competitor-price-tracker.json
{
  "name": "18-competitor-price-tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 12
            }
          ]
        }
      },
      "name": "Daily Check",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://competitor.com/pricing"
      },
      "name": "Fetch Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "keepOnly": "set",
        "values": {
          "string": [
            {
              "name": "price_basic",
              "value": "={{$node[\"Fetch Page\"].json[\"data\"].match(/Basic: \\$(\\d+)/)[1]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Parse Price",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "competitor-pricing",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Daily Check": {
      "main": [
        [
          {
            "node": "Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page": {
      "main": [
        [
          {
            "node": "Parse Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Price": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
