workflows/06-business/37-onboarding-checklist-checker.json
{
  "name": "37-onboarding-checklist-checker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 10
            }
          ]
        }
      },
      "name": "Daily Check",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT email, name FROM users WHERE onboarding_completed = false AND created_at < NOW() - INTERVAL '3 days'"
      },
      "name": "Stuck Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "toEmail": "={{$node[\"Stuck Users\"].json[\"email\"]}}",
        "subject": "Need help getting started?",
        "text": "Hi {{$node[\"Stuck Users\"].json[\"name\"]}}, we noticed you haven't finished onboarding..."
      },
      "name": "Nudge Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Daily Check": {
      "main": [
        [
          {
            "node": "Stuck Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stuck Users": {
      "main": [
        [
          {
            "node": "Nudge Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
