workflows/06-business/38-stale-pr-reminder.json
{
  "name": "38-stale-pr-reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 9,
              "triggerAtDayOfWeek": [1]
            }
          ]
        }
      },
      "name": "Monday Morning",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "pullRequest",
        "operation": "getAll",
        "owner": "Alejandro",
        "repository": "AIGestion",
        "state": "open"
      },
      "name": "Get PRs",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{$node[\"Get PRs\"].json[\"created_at\"]}}",
              "operation": "before",
              "value2": "={{$now.minus({days: 7})}}"
            }
          ]
        }
      },
      "name": "Old?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "channel": "pull-requests",
        "text": "=Stale PR: {{$node[\"Get PRs\"].json[\"title\"]}} is over a week old!",
        "otherOptions": {}
      },
      "name": "Reminder",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Monday Morning": {
      "main": [
        [
          {
            "node": "Get PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PRs": {
      "main": [
        [
          {
            "node": "Old?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Old?": {
      "main": [
        [
          {
            "node": "Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
