workflows/06-business/82-expense-approver.json
{
  "name": "82-expense-approver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "expense-webhook",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "ocr",
        "binaryPropertyName": "file"
      },
      "name": "OCR Receipt",
      "type": "n8n-nodes-base.microsoftComputerVision",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "finance-approvals",
        "text": "=New Expense Request:\nAmount: {{$node[\"OCR Receipt\"].json[\"amount\"]}}\nApprove? [Yes](https://webhook/approve/{{$node[\"Webhook\"].json[\"id\"]}})",
        "otherOptions": {}
      },
      "name": "Slack Approval",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OCR Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Receipt": {
      "main": [
        [
          {
            "node": "Slack Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
