workflows/06-business/83-meeting-scheduler-bot.json
{
  "name": "83-meeting-scheduler-bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "schedule-meeting",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "=Extract meeting intent and time from this email:\n{{$node[\"Webhook\"].json[\"body\"][\"email_body\"]}}"
      },
      "name": "Extract Intent",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{$node[\"Extract Intent\"].json[\"time\"]}}",
        "end": "={{$node[\"Extract Intent\"].json[\"time_end\"]}}",
        "summary": "Meeting Request",
        "options": {}
      },
      "name": "Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Intent": {
      "main": [
        [
          {
            "node": "Create Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
