workflows/06-business/87-ooo-auto-responder.json
{
  "name": "87-ooo-auto-responder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "name": "Check Calendar",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "calendar": "primary",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "timeMin": "={{$now}}"
        }
      },
      "name": "Get Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Get Events\"].json[\"summary\"]}}",
              "operation": "contains",
              "value2": "OOO"
            }
          ]
        }
      },
      "name": "Is OOO?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "statusText": "Out of Office",
        "statusEmoji": ":palm_tree:",
        "statusExpiration": 0
      },
      "name": "Update Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Check Calendar": {
      "main": [
        [
          {
            "node": "Get Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "main": [
        [
          {
            "node": "Is OOO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is OOO?": {
      "main": [
        [
          {
            "node": "Update Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
