workflows/02-pr-event-handler.json
{
  "name": "02-pr-event-handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pr-event",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"action\"]}}",
              "value2": "opened"
            }
          ]
        }
      },
      "name": "If Opened",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "pull-requests",
        "text": "=New PR Opened: {{$node[\"Webhook\"].json[\"body\"][\"pull_request\"][\"title\"]}}",
        "otherOptions": {}
      },
      "name": "Notify Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If Opened",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Opened": {
      "main": [
        [
          {
            "node": "Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
