workflows/03-ci-status-handler.json
{
  "name": "03-ci-status-handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ci-status",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"conclusion\"]}}",
              "value2": "failure"
            }
          ]
        }
      },
      "name": "If Failure",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "owner": "Alejandro",
        "repository": "AIGestion",
        "title": "=CI Failure: {{$node[\"Webhook\"].json[\"body\"][\"workflow_run\"][\"name\"]}}",
        "body": "=Action required. Workflow failed."
      },
      "name": "Create Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [650, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Failure": {
      "main": [
        [
          {
            "node": "Create Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
