workflows/06-security-alert-handler.json
{
  "name": "06-security-alert-handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "security-alert",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"severity\"]}}",
              "value2": "CRITICAL"
            }
          ]
        }
      },
      "name": "Is Critical",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "security-alerts",
        "text": "=CRITICAL SECURITY ALERT: {{$node[\"Webhook\"].json[\"body\"][\"description\"]}}",
        "otherOptions": {}
      },
      "name": "Urgent Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "toEmail": "security@example.com",
        "subject": "Security Alert",
        "text": "=Alert details: {{$node[\"Webhook\"].json[\"body\"][\"description\"]}}"
      },
      "name": "Email Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical": {
      "main": [
        [
          {
            "node": "Urgent Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
