workflows/09-payment-webhook.json
{
  "name": "09-payment-webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-event",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"type\"]}}",
              "value2": "payment_failed"
            }
          ]
        }
      },
      "name": "If Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "toEmail": "={{$node[\"Webhook\"].json[\"body\"][\"customer_email\"]}}",
        "subject": "Payment Failed",
        "text": "Your payment failed. Please update your billing info."
      },
      "name": "Email Customer",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [650, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Failed": {
      "main": [
        [
          {
            "node": "Email Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
