workflows/10-system-health-alert.json
{
  "name": "10-system-health-alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "health-alert",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "channel": "ops-on-call",
        "text": "=SYSTEM UNHEALTHY: {{$node[\"Webhook\"].json[\"body\"][\"service\"]}} is down!",
        "otherOptions": {}
      },
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "message": "={{$node[\"Webhook\"].json[\"body\"][\"service\"]}} is DOWN",
        "options": {}
      },
      "name": "PagerDuty",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [450, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "PagerDuty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
