workflows/14-weekly-report-generator.json
{
  "name": "14-weekly-report-generator",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9,
              "weekday": "Monday"
            }
          ]
        }
      },
      "name": "Weekly Audit",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) as new_users FROM users WHERE created_at > NOW() - INTERVAL '7 days'"
      },
      "name": "Get Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "toEmail": "boss@example.com",
        "subject": "Weekly Report",
        "text": "=New Users this week: {{$node[\"Get Stats\"].json[\"new_users\"]}}"
      },
      "name": "Send Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Weekly Audit": {
      "main": [
        [
          {
            "node": "Get Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stats": {
      "main": [
        [
          {
            "node": "Send Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
