workflows/17-meeting-notes-summarizer.json
{
  "name": "17-meeting-notes-summarizer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-transcript",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "=Summarize these meeting notes into action items:\n{{$node[\"Webhook\"].json[\"body\"][\"transcript\"]}}"
      },
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "create",
        "databaseId": "{{$env[\"NOTION_DB_ID\"]}}",
        "propertiesUi": {
          "property": [
            {
              "name": "Name",
              "value": "Meeting: {{$node[\"Webhook\"].json[\"body\"][\"date\"]}}",
              "type": "title"
            },
            {
              "name": "Summary",
              "value": "={{$node[\"OpenAI\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
              "type": "rich_text"
            }
          ]
        }
      },
      "name": "Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
