workflows/24-spam-filter.json
{
  "name": "24-spam-filter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-spam",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "prompt": "=Classify this message as 'SPAM' or 'HAM'. Return only the label:\n{{$node[\"Webhook\"].json[\"body\"][\"message\"]}}"
      },
      "name": "Classify",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Classify\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
              "value2": "SPAM"
            }
          ]
        }
      },
      "name": "Is Spam?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"blocked\"}",
        "options": {}
      },
      "name": "Block",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify": {
      "main": [
        [
          {
            "node": "Is Spam?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Spam?": {
      "main": [
        [
          {
            "node": "Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
