workflows/27-personalized-outreach.json
{
  "name": "27-personalized-outreach",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-outreach",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "=Generate a personalized email for {{$node[\"Webhook\"].json[\"body\"][\"name\"]}} who works at {{$node[\"Webhook\"].json[\"body\"][\"company\"]}}. Mention their recent article on {{$node[\"Webhook\"].json[\"body\"][\"topic\"]}}."
      },
      "name": "Generative AI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "outreach-drafts",
        "options": {}
      },
      "name": "Save Draft",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generative AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generative AI": {
      "main": [
        [
          {
            "node": "Save Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
