workflows/30-news-aggregator-summarizer.json
{
  "name": "30-news-aggregator-summarizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "name": "Daily Pulse",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines?category=technology",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Api-Key",
              "value": "{{$env[\"NEWS_API_KEY\"]}}"
            }
          ]
        }
      },
      "name": "Fetch News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "prompt": "=Summarize these headlines into a daily tech briefing:\n{{$node[\"Fetch News\"].json[\"articles\"].map(a => a.title).join(\"\\n\")}}"
      },
      "name": "Summarize",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "channel": "general",
        "text": "=Daily Tech Briefing:\n{{$node[\"Summarize\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
        "otherOptions": {}
      },
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Daily Pulse": {
      "main": [
        [
          {
            "node": "Fetch News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
