workflows/31-unused-resource-cleaner.json
{
  "name": "31-unused-resource-cleaner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 2
            }
          ]
        }
      },
      "name": "Weekly Cleanup",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.cloud-provider.com/v1/resources?status=unused",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env[\"CLOUD_API_KEY\"]}}"
            }
          ]
        }
      },
      "name": "Find Unused",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Find Unused\"].json[\"count\"]}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "channel": "ops-cleanup",
        "text": "=Found {{$node[\"Find Unused\"].json[\"count\"]}} unused resources. Please review.",
        "otherOptions": {}
      },
      "name": "Notify Ops",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Weekly Cleanup": {
      "main": [
        [
          {
            "node": "Find Unused",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Unused": {
      "main": [
        [
          {
            "node": "Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found?": {
      "main": [
        [
          {
            "node": "Notify Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
