workflows/33-ssl-expiry-monitor.json
{
  "name": "33-ssl-expiry-monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "name": "Daily Check",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.cert-monitor.com/check?domain=example.com"
      },
      "name": "Check Cert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Check Cert\"].json[\"days_remaining\"]}}",
              "operation": "smaller",
              "value2": 14
            }
          ]
        }
      },
      "name": "Expiring Soon?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "channel": "ops-alerts",
        "text": "=SSL Certificate for example.com expires in {{$node[\"Check Cert\"].json[\"days_remaining\"]}} days!",
        "otherOptions": {}
      },
      "name": "Alert Ops",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Daily Check": {
      "main": [
        [
          {
            "node": "Check Cert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cert": {
      "main": [
        [
          {
            "node": "Expiring Soon?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expiring Soon?": {
      "main": [
        [
          {
            "node": "Alert Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
