workflows/36-error-rate-monitor.json
{
  "name": "36-error-rate-monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "name": "Quarterly Hour",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) as errors FROM logs WHERE level = 'ERROR' AND timestamp > NOW() - INTERVAL '15 minutes'"
      },
      "name": "Count Errors",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Count Errors\"].json[\"errors\"]}}",
              "operation": "larger",
              "value2": 50
            }
          ]
        }
      },
      "name": "High Error Rate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "channel": "backend-errors",
        "text": "=High Error Rate Alert: {{$node[\"Count Errors\"].json[\"errors\"]}} errors in last 15m!",
        "otherOptions": {}
      },
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Quarterly Hour": {
      "main": [
        [
          {
            "node": "Count Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Errors": {
      "main": [
        [
          {
            "node": "High Error Rate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Error Rate?": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
