workflows/45-airtable-to-jira.json
{
  "name": "45-airtable-to-jira",
  "nodes": [
    {
      "parameters": {
        "pollInterval": "1m",
        "baseId": "{{$env[\"AIRTABLE_BASE_ID\"]}}",
        "table": "Bugs",
        "triggerField": "Created At"
      },
      "name": "New Record",
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "projectKey": "DEV",
        "summary": "={{$node[\"New Record\"].json[\"fields\"][\"Title\"]}}",
        "description": "={{$node[\"New Record\"].json[\"fields\"][\"Description\"]}}",
        "issueType": "Bug"
      },
      "name": "Create Jira",
      "type": "n8n-nodes-base.jiraSoftware",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "baseId": "{{$env[\"AIRTABLE_BASE_ID\"]}}",
        "table": "Bugs",
        "id": "={{$node[\"New Record\"].json[\"id\"]}}",
        "fields": {
          "Jira Status": "Created"
        }
      },
      "name": "Update Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "New Record": {
      "main": [
        [
          {
            "node": "Create Jira",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Jira": {
      "main": [
        [
          {
            "node": "Update Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
