workflows/52-log-analysis-regex.json
{
  "name": "52-log-analysis-regex",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-log",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "keepOnly": "set",
        "values": {
          "string": [
            {
              "name": "error_code",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"log\"].match(/Error (\\d+):/)[1]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Code",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Extract Code\"].json[\"error_code\"]}}",
              "operation": "equal",
              "value2": 500
            }
          ]
        }
      },
      "name": "Is 500?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "channel": "backend-alerts",
        "text": "=Critical 500 Error Detected!",
        "otherOptions": {}
      },
      "name": "Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Code": {
      "main": [
        [
          {
            "node": "Is 500?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is 500?": {
      "main": [
        [
          {
            "node": "Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
