workflows/61-blog-post-generator.json
{
  "name": "61-blog-post-generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-blog",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "=Write a detailed blog post outline about: {{$node[\"Webhook\"].json[\"body\"][\"topic\"]}}"
      },
      "name": "Generate Outline",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "=Write a full blog post based on this outline:\n{{$node[\"Generate Outline\"].json[\"choices\"][0][\"message\"][\"content\"]}}"
      },
      "name": "Generate Post",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Outline": {
      "main": [
        [
          {
            "node": "Generate Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
