workflows/63-brand-mention-alert.json
{
  "name": "63-brand-mention-alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "name": "Every 4H",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "q",
              "value": "Antigravity"
            },
            {
              "name": "apiKey",
              "value": "NEWS_API_KEY"
            }
          ]
        }
      },
      "name": "NewsAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "brand-monitoring",
        "text": "=New Brand Mentions:\n{{$node[\"NewsAPI\"].json[\"articles\"].map(a => a.title + ' - ' + a.url).join(\"\\n\")}}",
        "otherOptions": {}
      },
      "name": "Slack Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Every 4H": {
      "main": [
        [
          {
            "node": "NewsAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewsAPI": {
      "main": [
        [
          {
            "node": "Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
