workflows/73-api-aggregator.json
{
  "name": "73-api-aggregator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "user-stats",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.stripe.com/v1/customers/{{$node[\"Webhook\"].json[\"query\"][\"stripe_id\"]}}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer STRIPE_KEY"
            }
          ]
        }
      },
      "name": "Fetch Stripe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "url": "https://api.intercom.io/users/{{$node[\"Webhook\"].json[\"query\"][\"intercom_id\"]}}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer INTERCOM_KEY"
            }
          ]
        }
      },
      "name": "Fetch Intercom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "mode": "mergeByPosition"
      },
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$node[\"Merge Data\"].json}}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Stripe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Intercom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stripe": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Intercom": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
