workflows/77-vector-db-sync.json
{
  "name": "77-vector-db-sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "doc-updated",
        "options": {}
      },
      "name": "Doc Updated",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "text": "={{$node[\"Doc Updated\"].json[\"body\"][\"content\"]}}"
      },
      "name": "Create Embedding",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "indexName": "kb-index",
        "id": "={{$node[\"Doc Updated\"].json[\"body\"][\"id\"]}}",
        "values": "={{$node[\"Create Embedding\"].json[\"embedding\"]}}",
        "metadata": {
          "title": "={{$node[\"Doc Updated\"].json[\"body\"][\"title\"]}}"
        }
      },
      "name": "Pinecone Upsert",
      "type": "n8n-nodes-base.pinecone",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Doc Updated": {
      "main": [
        [
          {
            "node": "Create Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Embedding": {
      "main": [
        [
          {
            "node": "Pinecone Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
