workflows/78-currency-converter.json
{
  "name": "78-currency-converter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 1
            }
          ]
        }
      },
      "name": "Daily",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.exchangerate-api.com/v4/latest/USD",
        "options": {}
      },
      "name": "Get Rates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE products SET price_eur = price_usd * {{$node[\"Get Rates\"].json[\"rates\"][\"EUR\"]}}"
      },
      "name": "Update Prices",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Daily": {
      "main": [
        [
          {
            "node": "Get Rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rates": {
      "main": [
        [
          {
            "node": "Update Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
